@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background antialiased selection:bg-primary selection:text-on-primary;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  /* Scrollbar Hide but keep scrollable */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
